footer{
    border: 2px transparent solid;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    background-color: rgb(66, 66, 66);
}

footer p{
    color: white;
    text-shadow: -2px 2px 1px rgb(31, 31, 31);
}