
main{
    width: 95%;
    margin: auto;
}

.section-content{
    background-color: white;
    padding: 4%;
    margin-top: 2%;
}

.sub-content{
    margin-top: 5%;
    text-align: justify;
}

.sub-content h2, .sub-content-1 h2{
    margin: 0;
    padding: 2%;
    background-color: rgb(219, 219, 219);
    border-bottom: 2px rgb(99, 99, 99) solid;
    letter-spacing: 1px;
}
.sub-content h3, .sub-content-1 h3{
    margin: 0;
    padding: 2%;
    background-color: rgb(219, 219, 219);
    letter-spacing: 1px;
}

p{
    padding-left: 7%;
    padding-right: 5%;
}

.list{
    margin: 2%;
    padding: 1%;
    background-color: rgb(219, 219, 219);
}

.list h3{
    margin: 2%;
}

.list p{
    padding-left: 2%;
    padding-right: 5%;
    margin: 2%;
    font-weight: bold;
}

.date{
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#projetos{
    margin-top: 10%;
    margin-bottom: 10%;
}